<div class="help-table">
  <div>
    <span>Drag your field into the active area to add it as a column.</span>
    <span>Drag your columns to rearrange their order.</span>
  </div>
  <div>
    <span><img src="/s.gif" class="help-1"/></span>
    <span><img src="/s.gif" class="help-2"/></span>
  </div>
</div>