<tr class="row-moved-info">
  <td colSpan="{{columnCount}}">
    <img class="info-icon" src="/s.gif" />
    <a href="/{{id}}" target="_blank">{{name}}</a>
    <span>
      Has moved to priority <span class="priority">{{priority}}</span>
    </span>
  </td>
</tr>