<div data-backlog-id="{{id}}" data-backlog-effort="{{effort}}" data-backlog-priority="{{priority}}" class="bklg-item-card-wrap">
  <h3 title="{{title}}">{{title}}</h3>
  <div class="bklg-item-handle"></div>
  <hr />
  <div class="bklg-item-details">
    <span class="status" data-status-value="{{status}}">{{statusLabel}}</span>
    <span class="metric">Value:</span><span class="metric">Effort:</span>
    <span class="key"><a href="/{{id}}" target="_blank">{{name}}</a></span>
    <span class="type">{{type}}</span>
    <span class="mvalue">{{value}}</span><span class="mvalue">{{effort}}</span>
  </div>
</div>
