  <tr>
    <td><a href="/{{Id}}"><span>{{Name}}</span></a></td>
    <td><span>{{Description__c}}</span></td>
    <td><span>{{Type__c}}</span></td>
    <td><span>{{Error_Cause__c}}</span></td>
    <td><span>{{Component_Name__c}}</span></td>
    <td><span>{{Component_Type__c}}</span></td>
    <td><span>{{Parent_Component__c}}</span></td>
  </tr>
