<table class="alm-table">
   <thead>
     <tr>
       <th style="width: 10%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Key</span></th>
       <th style="width: 30%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Description</span></th>
       <th style="width: 5%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Type</span></th>
       <th style="width: 10%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Error Cause</span></th>
       <th style="width: 15%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Component Name</span></th>
       <th style="width: 15%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Component Type</span></th>
       <th style="width: 15%"><img class="sortable" src="/s.gif"></img><span class="sortable-text">Parent Component</span></th>
     </tr>
   </thead>
   <tbody>
     {{#errors}}
       {{> build_error}}
     {{/errors}}
   </tbody>
</table>
