<div id="{{id}}" class="confirmation-modal {{classes}}">
  <p><img class="warning-sign" src="/s.gif"/><strong>Warning:</strong></p>
  <p>{{message}} Click OK to proceed.</p>
  <div class="action-buttons">
      <button class="cancel-button" type="button">cancel</button>
      <button class="confirm-button" type="button">ok</button>
  </div>
</div>