  <tr class="deployment-errors">
    <td><a href="/{{Id}}"><span>{{Name}}</span></a></td>
    <td><span>{{Duration__c}}</span></td>
    <td><span>{{Class__c}}</span></td>
    <td><span>{{Method__c}}</span></td>
    <td><span>{{Error_Message__c}}</span></td>
    <td><span>{{Stack_Trace__c}}</span></td>
  </tr>
