<li role="presentation" class="slds-listbox__item" title="{{.}}">
  <span class="slds-listbox__option slds-listbox__option_plain slds-media"
        aria-selected="false"
        role="option">
    <span class="slds-truncate">
      {{.}}
    </span>
  </span>
</li>