<div title="{{name}}" class="mini-user-card"
     data-userid="{{userId}}"
     data-bklg-userid="{{bklgUserId}}">
  <img src="/s.gif" class="delete-icon"></img>
  <img src="{{iconUrl}}" class="user-icon"/>
  <div class="sprint-item-user-name">{{name}}</div>
</div>
