
  <div class="col-md-6 col-lg-4 col-xlg-3">
    <div class="permissions-option overflow-ellipses">
      <input id={{sectionApiName}}_{{htmlId}} data-api-name="{{apiName}}" class="fancy-checkbox permission" type="checkbox" />
      <label class="checkbox" for="{{sectionApiName}}_{{htmlId}}"><span></span></label>
      <label class="permission-label" for="{{sectionApiName}}_{{htmlId}}" title="{{{label}}}">{{{label}}}</label>
    </div>
  </div>