<div class="role-tile" data-roleid="{{Id}}" data-has-users="{{hasUsers}}">
  <img src="/s.gif" class="delete-icon"></img>
  <img src="/s.gif" class="edit-icon" ></img>
  <input type="text" class="edit-role" value="{{Name}}"/>
  <span title="{{Name}}" class="role-label">{{Name}}</span>
</div>