{{#mainClass}}
  <div class="sp-card-wrap-error alm-warning {{mainClass}}">
{{/mainClass}}
{{^mainClass}}
  <div class="sp-card-wrap-error alm-warning">
{{/mainClass}}
  <p>
    <img class="warning-sign" src="/s.gif" ><strong>Warning:</strong>
  </p>
  <p>{{message}}</p>
  <div class="warning-buttons">
    {{#continueButtonClass}}
      <button class="subtle-btn {{continueButtonClass}}" type="button">yes</button>
    {{/continueButtonClass}}
    {{^continueButtonClass}}
      <button class="subtle-btn continue-btn" type="button">yes</button>
    {{/continueButtonClass}}
    {{#cancelButtonClass}}
      <button class="important-btn alm-btn {{cancelButtonClass}}" type="button">no</button>
    {{/cancelButtonClass}}
    {{^cancelButtonClass}}
      <button class="important-btn alm-btn cancel-btn" type="button">no</button>
    {{/cancelButtonClass}}
  </div>
</div>