<div class="sprint-item-card-confirm">
 <p>{{message}}</p>
 <div class="warning-buttons">
  <button class="subtle-btn continue-btn" type="button">yes</button>
  <button class="important-btn alm-btn cancel-btn" type="button">no</button>
 </div>
</div>