<div class="message warningM3" role="alert">
    <img alt="warning" class="warning-sign" src="/s.gif" title="warning" />
    <div class="messageCell">
      <div class="messageText">
        <span class="subject">{{subject}}</span> {{message}}
      </div>
    </div>
 <img alt="close" class="close" src="/s.gif" title="close" />
</div>